.debug {
  border: 1px solid red;
}

.full-grid {
  grid-column: 1 / -1;
  height: 5rem;
  display: grid;
  place-items: center;
}

.body-transition {
  &-move,
  &-enter-active,
  &-leave-active {
    transition: all 0.5s ease;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-leave-active {
    position: absolute;
  }
}
